body {
    background: linear-gradient(90deg,white,#2eacd4);
}

.groovy{
    font-weight:bold;
    font-style: italic;
}

#loginTitleText{
    color: green;
    font-style: italic;
    text-transform: uppercase;
}

#loginDivText{
    color: yellow;
    font-weight: bolder;
    
}
